.App {
  text-align: center;
}

.navtop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(121, 149, 241);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
}

.active {
  background: rgb(162, 231, 231);
  /* text-decoration: underline wavy aquamarine; */
}

pre{
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  text-align: left;
  min-height: 10rem;
}
